name: builds

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019, macos-10.15, ubuntu-18.04]
        node: [10, 12, 14]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node }}
      - run: yarn --frozen-lockfile
        env:
          npm_config_build_from_source: true
      - run: yarn test
      - run: yarn lint
      - run: yarn tsd
      - run: yarn package
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}-${{ matrix.node }}-binary
          path: 'build/**/*.tar.gz'
  alpine:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        node: [10, 12, 14]
      fail-fast: true
    container:
      image: node:${{ matrix.node }}-alpine
    steps:
      - uses: actions/checkout@v2
      - run: |
          apk add --no-cache python3 make g++
      - run: yarn --frozen-lockfile
        env:
          npm_config_build_from_source: true
      - run: yarn test
      - run: yarn lint
      - run: yarn tsd
      - run: yarn package
      - uses: actions/upload-artifact@v2
        with:
          name: alpine-${{ matrix.node }}-binary
          path: 'build/**/*.tar.gz'
  deploy:
    runs-on: ubuntu-18.04
    needs: [alpine]
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@master
        with:
          node-version: 14
      - uses: actions/download-artifact@v2
        with:
          path: build
      - run: ls -R
      - uses: eine/tip@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          files: |
            ./build/*/stage/marudor/libxmljs2/releases/download/*/*
